@import url('http://fonts.googleapis.com/css?family=Roboto:400,700');

body
{
	height: 100%;
	width: 100%;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	background-image: url("images/test.png");
    background-repeat: no-repeat;
    background-size: cover;
}
form
{
	display: block;
	margin-top: 0em;
}

.logo
{
	vertical-align: middle;
	width: 75%;
	max-width: 900px;
	margin: 0 auto;
	display: block;
}
.form-control
{
	min-width: 230px;
}
.container
{
 	padding-right: 15px;
 	padding-left: 15px;
 	margin-right: auto;
 	margin-left: auto;
}
.buttons-fixed
{
	position: fixed;
	text-align: center;
	width: 100%;
}
.login-button
{
	text-decoration: none;
	width: 200px;
	margin-top: 20px;
	display: inline-block;
	text-align: center;
	transition:all .2s;
	color: #fff;
	font-family: "Roboto";
	font-weight: 400;
	background-color: #217db4;
	padding: 20px;
	border-radius: 3px;
	border: none;
	font-size: 22px;
}
.login-button:hover
{
	background-color: #19608a;

}
.guest-button
{
	background-color: #8b8b8b;
	width: 26%;
	min-width: 129px;
	margin-right: 0;
	margin-top: 20px;
	height: 100%;
	padding: 10px;
	font-size: 22px;
	display: inline-block;
	text-align: center;
	transition:all .2s;
	color: #fff;
	font-family: "Roboto";
	font-weight: 400;
	border-radius: 3px;
	border: none;
	cursor: pointer;
	text-decoration: none;
}
.guest-button:hover
{
	background-color: #6c6b6b;
	color: #fff;
	text-decoration: none;
}
.register-button
{
	background-color: #217db4;
	width: 26%;
	min-width: 129px;
	margin-right: 0;
	margin-top: 20px;
	height: 50px;
	padding: 10px;
	font-size: 22px;
	display: inline-block;
	text-align: center;
	transition:all .2s;
	color: #fff;
	font-family: "Roboto";
	font-weight: 400;
	border-radius: 3px;
	border: none;
	text-decoration: none;
}
.register-button:hover
{
	background-color: #19608a;
	color: #fff;
	text-decoration: none;
}
.alt-auth
{
	display: block;
	float: left;
	width: 100%;
	margin: 10px;
}
.alt-auth button
{
	height: 35px;
	width: 35px;
	margin-right: 5px;
	float: left;
	border-radius: 3px;
	border: solid 1px #515151;
	color: #515151;
	transition: all .2s;
	background-color: #fff
}
.alt-auth button:hover
{
	border: solid 1px #69c0f4;
}
.fa
{
	display: inline-block;;
	font: normal normal normal 14px/FontAwesome;
	font-size: inherit;

}
.username
{
	font-family: "Roboto";
	font-size: 32px;
	margin: 0px;
	color: #337ab7;
}
.buttons 
{
	margin-top: 10px;
}
.col-sm-4
{
	width: 16%;
}

.list-group-item
{
	float: left;
	margin: 8px;
}
.group-item 
{
	width: 110px;
	border-radius: 4px;
}
.list-group-item img 
{
	height:100%; 
	width:100%;
	float: left;
}
.name
{
	font-family: "Roboto";
	color: #337ab7;
	font-size: 15px;
}
.room
{
	font-family: "Roboto";
	margin-left: 8px;
	font-size: 15px;
}
.players
{
	font-family: "Roboto";
	margin-left: 8px;
	font-size: 15px;
}
.li-group-item
{
	position: relative;
	display: block;
	padding: 6px 15px;
	background-color: #fff;
	float: left;
	margin: 8px;
	width: 160px;
}
.prvideo
{
	font-family: "Roboto";
	color: #337ab7;
	font-size: 15px;
}
.drugideo
{
	font-family: "Roboto";
	color: #337ab7;
	font-size: 15px;
}
.trecideo
{
	font-family: "Roboto";
	color: #337ab7;
	font-size: 15px;
}
.status
{
	font-family: "Roboto";
	margin-left: 8px;
	font-size: 15px;
}
.statusname
{
	font-family: "Roboto";
	color: #337ab7;
	font-size: 15px;
}
.list-group-item a
{
	color: #000000;
}
.roomclick
{
	color: #000000;
}
.settings-icons
{
	width: 100%;
	float: left;
	margin-bottom: 20px;
}
.icon-choice
{
	cursor: pointer;
	width: 40px;
	height: 40px;
	transition:all .2s;
	margin-right: 5px;
	margin-bottom: 5px;
	position: relative;
	float: left;
}
.icon-choice img
{
	width: 40px;
	height: 40px;
	border-radius: 3px;
}
#top1
{
	color: #c4943a;
}
.top1
{
	background-color: #e2ca9c;
}
#top2
{
	color: #8b8c90;
}
.top2
{
	background-color: #bebec1;
}
#top3
{
	color: #ae784c;
}
.top3
{
	background-color: #d8bda6;
}

#file
{
	display: none;
}
ul.thumbnails.image_picker_selector 
{
  overflow: auto;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding: 0px;
  margin: 0px; 
}
ul.thumbnails.image_picker_selector ul 
{
  overflow: auto;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding: 0px;
  margin: 0px; 
}
ul.thumbnails.image_picker_selector li.group 
{
  width:100%;
} 
ul.thumbnails.image_picker_selector li.group_title 
{
  float: none;
}
ul.thumbnails.image_picker_selector li 
{
  margin: 0px 12px 12px 0px;
  float: left; 
}
ul.thumbnails.image_picker_selector li .thumbnail 
{
  padding: 6px;
  border: 1px solid #dddddd;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; 
}
ul.thumbnails.image_picker_selector li .thumbnail img 
{
  -webkit-user-drag: none;
}
ul.thumbnails.image_picker_selector li .thumbnail.selected 
{
      background: #0088cc; 
}
.image_picker_image
{
  height: 50px;
  width: 60px;
}
#configModal h3
{
	font-size: 16px;
	font-weight: bold;
	border-bottom: solid 1px #3f8ccd;
	color: #3f8ccd;
	font-family: "Roboto";
	padding-bottom: 5px;
}
.okvir
{
	height: 400px;
	width: 100%;
}
.okvir
{
	height: 400px;
	width: 100%;
	
}
.draw
{
	height: 400px;
	width: 80%;
	background-color: rgba(255, 255, 255, 1);
	display: inline-block;
	border-radius: 4px;
}
.menu
{
	height: 400px;
	width: 16%;
	display: inline-block;
	float: right;
	
}
.buttonstart
{
	float: right;
	align-content: center;
}
.guess
{
	height: 400px;
	width: 100%;
	 
}
.chat
{
	margin-top: 5px;
	height: 150px;
	width: 100%;
	
}
.info
{
	
}
.penblue
{
	height: 150px;
	width: 50px;
}
.paleta
{
	margin-left: -22px;
}
.olovke
{
	height: 50px;
	width: 25px;
}
.olovke1
{
	height: 50px;
	width: 25px;
	float: right;
	
}
.inputzaguess
{
	width: 100%;
	display: block;
	padding: 6px 12px;
	font-size: 14px;
	color: #555;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
}
.well
{
	background-color: rgba(245, 245, 245, 0.7);
}
.promeni
{
	height: 250px;
}
.draw:hover
{
	
}
.log
{
	height: 300px;
}
.chatlog
{
	height: 100px;
}
#sendMessage
{
	margin-bottom: 5px;
}
.message-bubble 
{
    padding: 10px 0px 10px 0px;
}
.allusers
{
	height: 100%;
	width: 100%;
}

.message-bubble:nth-child(even) { background-color: #F5F5F5; }

.message-bubble > *
{
    padding-left: 10px;    
}

.panel-body { padding: 0px; }

.panel-heading { background-color: #3d6da7 !important; color: white !important; }
table th
{
	background-color: #337ab7;
	font-weight: normal;
	font-family: "Roboto";
	color: #fff;
}



* {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.timer
{
	margin-right: 17px;
}
.data-progress {
  box-sizing: border-box;
  position: relative;
  height: 100px;
  width: 100px;
  background: beige;
  border-radius: 50%;
  box-shadow: inset 0px 0px 0px 20px green;
  transition: all 1s;
  overflow: hidden;

}
.counter {
  position: absolute;
  height: 50%;
  width: 50%;
  top: 0%;
  left: 0%;
  text-align: center;
  line-height: 200px;
  border-radius: 50%;
  background: transparent;
  z-index: 4;
}

.data-progress > div
{
  position: absolute;
  height: 50%;
  width: 50%;
  background: inherit;
  border-radius: 0%;
}


.quad1,
.quad2 {
  left: 50%;
  transform-origin: left bottom;
}
.quad3,
.quad4 {
  left: 0%;
  transform-origin: right top;
}
.quad1,
.quad4 {
  top: 0%;
}
.quad2,
.quad3 {
  top: 50%;
}
.quad1,
.quad3 {
  transform: skew(0deg); /* invisible at -90deg */
}
.quad2,
.quad4 {
  transform: skewY(0deg); /* invisible at 90deg */
}

/* Just for demo */

div[data-progress] {
  margin: 40px auto;
}


.pictureguess
{
	height: 70px;
	width:70px;
}
.pictureguess img
{
	height: 70px;
	width: 70px;
}
.infoguess
{
margin-top: 15px;
}


.userguess
{
	display: inline-flex;
	margin-top: 5px;
}



.infoguessu
{

margin-left: 20px;

}


@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}

}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}