@import url('http://fonts.googleapis.com/css?family=Roboto:400,700');

body
{
	height: 100%;
	width: 100%;
	min-width: 520px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	background-image: url("images/test.png");
    background-repeat: no-repeat;
    background-size: cover;
}
form
{
	display: block;
	margin-top: 0em;
}
.logo
{
	vertical-align: middle;
	width: 75%;
	max-width: 900px;
	margin: 0 auto;
	display: block;
}

.container
{
 	padding-right: 15px;
 	padding-left: 15px;
 	margin-right: auto;
 	margin-left: auto;
}
.buttons-fixed
{
	position: fixed;
	text-align: center;
	width: 100%;
}
.login-button
{
	text-decoration: none;
	width: 200px;
	margin-top: 20px;
	display: inline-block;
	text-align: center;
	transition:all .2s;
	color: #fff;
	font-family: "Roboto";
	font-weight: 400;
	background-color: #217db4;
	padding: 20px;
	border-radius: 3px;
	border: none;
	font-size: 22px;
}
.login-button:hover
{
	background-color: #19608a;

}
.guest-button
{
	background-color: #8b8b8b;
	width: 420px;
	margin-right: 0;
	margin-top: 20px;
	height: 50px;
	padding: 10px;
	font-size: 22px;
	display: inline-block;
	text-align: center;
	transition:all .2s;
	color: #fff;
	font-family: "Roboto";
	font-weight: 400;
	border-radius: 3px;
	border: none;
	cursor: pointer;
	text-decoration: none;
}
.guest-button:hover
{
	background-color: #6c6b6b;
	color: #fff;
	text-decoration: none;
}
.register-button
{
	background-color: #217db4;
	width: 420px;
	margin-right: 0;
	margin-top: 20px;
	height: 50px;
	padding: 10px;
	font-size: 22px;
	display: inline-block;
	text-align: center;
	transition:all .2s;
	color: #fff;
	font-family: "Roboto";
	font-weight: 400;
	border-radius: 3px;
	border: none;
	text-decoration: none;
}
.register-button:hover
{
	background-color: #19608a;
	color: #fff;
	text-decoration: none;
}
.alt-auth
{
	display: block;
	float: left;
	width: 100%;
	margin: 10px;
}
.alt-auth button
{
	height: 35px;
	width: 35px;
	margin-right: 5px;
	float: left;
	border-radius: 3px;
	border: solid 1px #515151;
	color: #515151;
	transition: all .2s;
	background-color: #fff
}
.alt-auth button:hover
{
	border: solid 1px #69c0f4;
}
.fa
{
	display: inline-block;;
	font: normal normal normal 14px/FontAwesome;
	font-size: inherit;

}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}